.bg {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('https://i.imgur.com/5iEntXl.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
  background-position-y: 50%;
}

.bg-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-title {
  border-radius: 1rem;
  padding: 2rem;
  margin-top: 1rem;
  color: #eeeeee;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(0.5rem);
}

/* .bg-img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.bg-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.bg-title {
  border-radius: 1rem;
  padding: 2rem;
  margin-top: 1rem;
  color: var(--white-color);
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(0.5rem);
} */

.bg-gallery {
  background-image: linear-gradient(to right, #a8caba 0%, #5d4157 100%);
  border-bottom: thin solid var(--first-color);
  transition: all 0.3s ease-in-out;
}

/* Galeria */
.card-gallery {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  max-width: 500px;
}

.card-gallery-img {
  max-height: 500px;
}

.card-gallery h2 {
  font-size: var(--step--2);
}

.container-mobile {
}

.description-mobile {
  background-color: var(--third-alpha-color);
  color: #fff;
  padding: 2rem;
  margin: 1rem 0;
  text-align: center;
}

.description-mobile h2 {
  margin-bottom: 1rem;
}

.card-gallery-img {
  width: 100%;
  object-fit: cover;
  object-position: 50%;
  border: thick solid var(--first-color);
}

.card-gallery-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1rem;
  opacity: 0;
  visibility: hidden;
  color: #fff;
  transition: visibility 0.3s ease-in-out, background-color 0.3s ease-in-out,
    opacity 0.3s ease-in-out;
}

.card-gallery-txt {
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  text-align: center;
  border: thin solid #fff;
}

@media screen and (min-width: 768px) {
  .card-gallery {
    cursor: pointer;
  }

  .card-gallery h2 {
    font-size: var(--step-0);
  }

  .description-mobile {
    display: none;
  }

  .card-gallery:hover .card-gallery-container {
    opacity: 1;
    visibility: visible;
    background-color: var(--black-alpha-color);
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(2, 45%);
    justify-content: space-around;
    align-items: center;
    /* completo celdas vacias */
    grid-auto-flow: row dense;
    gap: 3rem;
  }

  .card-gallery:nth-child(1) {
    grid-column: 1 / span 2;
  }

  .card-gallery:nth-child(4) {
    grid-column: span 2;
  }

  .card-gallery:nth-child(7) {
    grid-column: span 2;
  }

  .card-gallery:nth-child(9) {
    grid-column: 1 / span 2;
  }

  .card-gallery:nth-child(13) {
    grid-column: 1 / span 2;
  }

  .card-gallery:nth-child(17) {
    grid-column: 1 / span 2;
    grid-row: 11 / 12;
  }

  .card-gallery:nth-child(20) {
    grid-column: 1 / span 2;
    grid-row: 13 / 14;
  }
}

@media screen and (min-width: 992px) {
  .gallery {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    align-items: center;
    justify-content: space-between;
    /* completo celdas vacias */
    grid-auto-flow: row dense;
  }

  .card-gallery:nth-child(4) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .card-gallery:nth-child(13) {
    grid-column: 1 / 2;
    grid-row: 6 / 7;
  }

  .card-gallery:nth-child(18) {
    grid-column: 1 / 4;
    grid-row: 7 / 8;
  }

  .card-gallery:nth-child(24) {
    grid-column: 1 / 4;
    grid-row: 9 / 10;
  }

  .card-gallery:nth-child(17) {
    grid-column: 1 / 2;
    grid-row: 11 / 12;
  }

  .card-gallery:nth-child(20) {
    grid-column: span 2;
    grid-row: 11 / 12;
  }
}
